html,
body {
  font-family: "Roboto";
  margin: 0;
}
.one {
  height: 400px;
  width: auto;
  background-color: #1f2937;
}
#header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  font-size: 22px;
}
.nav {
  display: flex;
  gap: 20px;
  margin-right: 120px;
  font-size: 18px;
  color: #e5e7eb;
}
#header h2,
p {
  margin-top: 10px;
}
.information {
  display: flex;
  height: 300px;
  width: auto;
  align-items: flex-start;
}
.info {
  width: 600px;
  margin-left: 150px;
}
.information h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
}
.information p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}
button {
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  width: 120px;
  height: 35px;
  font-size: medium;
  font-weight: 600px;
}
.image {
  display: flex;
  margin-top: 40px;
  margin-left: 600px;
  margin-right: 60px;
  margin-bottom: 60px;
  height: 150px;
  width: 460px;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
.two {
  height: 400px;
  width: auto;
  background-color: white;
  text-align: center;
}
.info-section {
  text-align: center;
  padding: 40px 20px;
}

.info-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bold;
}

.items {
  display: flex;
  justify-content: center;
  gap: 40px; /* расстояние между квадратами */
  flex-wrap: wrap; /* чтобы на маленьких экранах переносились */
}

.item {
  width: 150px;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid #3b82f6; /* синий цвет как на фото */
  border-radius: 20px; /* скругление */
  margin-bottom: 10px;
}

.item p {
  font-size: 14px;
  color: #1f2937;
}
.three {
  display: flex;
  height: 400px;
  width: auto;
  background-color: #e5e7eb;
}
.quote {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
.four {
  height: 400px;
  width: auto;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.signup {
  height: 150px;
  width: 1000px;
  background-color: #3882f6;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  gap: 15px;
}
.signup button {
  border-color: white;
}
.signup .call {
  font-weight: 900;
  font-size: 36px;
  color: #f9faf8;
}

.signup p {
  color: #f9faf8;
  font-size: 18px;
}
